.login {
  background: #1c1d1f;

  & form {
    display: block;
    background: #2d2f36;
    border-radius: 8px;
    width: 60%;
    padding: 5rem;
    max-width: 508px;

    & input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      margin: 3rem 0;
      background-color: #3f414b;
      border-radius: 6px;
      padding: 0.5em;
      line-height: 25px;
    }

    & input[type='submit'] {
      background: var(--theme);
      margin-top: 4rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
