* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

:root {
  --theme: #f2c94c;
}

html,
body {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 1.8rem;
}

small,
p {
  font-size: 1.4rem;
}

input {
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@import '_login';
@import '_pokedex';
